@model map_vigenere.Models.IndexViewModel;

@{
    ViewData["Title"] = "Principal";
}

<div>
    <h1>Principal</h1>

    <form asp-controller="Home" asp-action="Executar" role="form" >
  <div class="form-group">
    <label for="entrada">Entre com os dados para criptografar</label>
    <input type="text" id="entrada" class="form-control" asp-for="@Model.entradaTextoClaro"  placeholder="Entre com os dados para criptografar">
    <br>
    <label for="entrada">Entre com a chave</label>
    <input type="text" class="form-control" asp-for="@Model.chave"  placeholder="Informe a chave para encriptar ou descriptar.">
    <h3>@Model.saidaTextoCifrado</h3>
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" asp-for="@Model.verificar" title="desmarcado encriptar e marcado descriptar">
    <label class="form-check-label" for="exampleCheck1">Encriptar/Descriptar</label>
  </div>
  <button type="submit" class="btn btn-primary">Submeter</button>
</form>

</div>
