@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto gerado para atividade prática supervisionada(APS)</p>
<br>
<p>A cifra de Vigenère é um método de criptografia que usa uma série de diferentes cifras de César
     baseadas em letras de uma senha. Trata-se de uma versão simplificada de uma mais geral cifra de
      substituição polialfabética, inventada por Leone Battista Alberti cerca de 1465.
</p>
